.indicateur li{
    background:#bfd70e;
    border-radius:50%;
    height:100px;
    width:100px;
    border:2px solid #679403;
    text-align: center;    
}   

.indicateur li{

 float:left;
 list-style-type:none;
}

