.master {

 display :flex;
 flex-wrap: wrap; 

}

.master h1 {

width: 100%; 

}

.master div {

float: left ; 
width:  45%; 
border: solid 1px; 
background-color: #87aa74; 
}
.master img {

float: left;
width: 20%; 
padding:auto-align ; 
}


.master p {

margin: 10% 10%;  
padding:auto-align ;
align-items: flex-end; 
}

.master h3 {
color: white; 
text-align:right;  
margin: 5% 5%;    
}
